.card-deck {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: -15px;
}
  
.card-container {
  margin: 15px;
}
  
.card {
  display: block;
  padding: 15px;
  margin-bottom: 5px;
  width: 150px;
  height:150px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    border-color: #888;
    background-color: #e5e5e5;
    /* todo: img zoom */
  }
}

.card-img {
  width: 100%;
}
  
.card-label {
  text-transform: capitalize;
}