@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700|Raleway:300,400,500,600';

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', 'sans-serif';
}