body {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $break-sm) {
    max-width: 540px; 
  }
  @media (min-width: $break-md) {
    max-width: 720px;
  }
  @media (min-width: $break-lg) {
    max-width: 960px; 
  }
  @media (min-width: $break-xl) {
    max-width: 1140px; 
  }
}

.details-container {
  display: flex;
  @media (max-width: $break-sm) {
    flex-wrap: wrap;
  }
}
.info-pane {
  flex: 2;
  padding-right: 15px;
  @media (max-width: $break-sm) {
    flex: auto;
    padding: 0;
  }
}
.content-pane {
  flex: 5;
  padding-left: 15px;
  @media (max-width: $break-sm) {
    flex: auto;
    padding: 0;
  }
}