@import './variables';
@import './font';
@import './card';
@import './button';
@import './layout';

.search-input-container {
  margin: 1.5em 0;
}

.info-img-container {
  margin-bottom: 2em;
}
.info-img-box {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 1em;
}
.info-img {
  width: 100%;
}
.label {
  margin-right:0.5em;
  padding: 0.25em;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  background-color: #444;
  color: #fff;
}